<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="/assets/fsg-logo.svg" alt="FSG Logo" />
        <span>FSG - Score Calculator</span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <app-autocross-score></app-autocross-score>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <app-endurance-score></app-endurance-score>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <app-efficiency-factor></app-efficiency-factor>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <app-efficiency-score></app-efficiency-score>
        </div>
    </div>
</div>