<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="/assets/fsg-logo.svg" alt="FSG Logo" />
        <span>FSG - Score Calculator</span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <mat-tab-group>
        <mat-tab label="Acceleration Score">
            <app-acceleration-score></app-acceleration-score>
        </mat-tab>
        <mat-tab label="Autocross Score">
            <app-autocross-score></app-autocross-score>
        </mat-tab>
        <mat-tab label="Cost Score">
            <app-cost-score></app-cost-score>
        </mat-tab>
        <mat-tab label="Efficiency Factor">
            <app-efficiency-factor></app-efficiency-factor>
        </mat-tab>
        <mat-tab label="Efficiency Score">
            <app-efficiency-score></app-efficiency-score>
        </mat-tab>
        <mat-tab label="Endurance Score">
            <app-endurance-score></app-endurance-score>
        </mat-tab>
        <mat-tab label="Skidpad Score">
            <app-skidpad-score></app-skidpad-score>
        </mat-tab>
    </mat-tab-group>
</div>